
.vs/asrielknight.github.io/config/applicationhost.config
.vs/asrielknight.github.io/FileContentIndex/37e13b66-3ea5-4c33-bcb9-8c6d805b11db.vsidx
.vs/asrielknight.github.io/FileContentIndex/a02efbb8-44c9-4771-8deb-3948338f32ad.vsidx
.vs/asrielknight.github.io/FileContentIndex/c0af373b-cd0c-40ec-ad01-c8d8c025cf22.vsidx
.vs/asrielknight.github.io/FileContentIndex/372b8b81-576b-4d7f-92e8-0d1b6e00fb64.vsidx
.vs/asrielknight.github.io/FileContentIndex/read.lock
.vs/asrielknight.github.io/FileContentIndex/c312dac4-00de-40b2-8fcd-153eefa8fa6f.vsidx
.vs/asrielknight.github.io/FileContentIndex/b0798666-a7d8-4dbf-a05b-e6fbfda594ce.vsidx
*.vsidx
.vs/asrielknight.github.io/v17/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
