/*@font-face {
    font-family: 'fontstuckregular';
    src: url('https://asrielknight.github.io/fonts/fontstuck-webfont.woff2') format('woff2'), url('https://asrielknight.github.io/fonts/fontstuck-webfont.woff') format('woff');
    font-weight: normal;
   font-style: normal;
}*/

html {
    font-family: 'Courier New';
    height: 100%;
    margin: 0;
    background-color: rgb(61, 61, 61);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.story-box {
    margin: .5% 5% 0 5%;
    background-color: rgb(155, 155, 155);
    padding: 2%;
    width: 75%;
    height: 75%;
    max-width: 40%;
    max-height: 40%;
}

.story-box .story {
    margin: .25% 3% 1% 3%;
    background-color: rgb(230, 230, 230);
    padding: 2%;
}

.story-box .story .command {
    text-align: center;
}

.story-box .story .frame {
    margin: 1% 0 1% 0;
}

.story-box .story .story-text {
    padding: 3% 4% 0 4%;
    text-align: center;
}