@font-face {
    font-family: 'fontstuckregular';
    src: url('/fonts/fontstuck-webfont.woff2') format('woff2'), url('/fonts/fontstuck-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}